:root {
  --header: #f97b03;
  --paragraph: #f0e3cc;
  --dark-text: #211e1d;
  --bg-main: #00000050;
  --accent: #ffc600;
}

@font-face {
  font-family: Bebas-Neue;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Bebas-Neue-Regular.woff2") format("woff2"), url("./fonts/Bebas-Neue-Regular.woff") format("woff");
}
@font-face {
  font-family: Noto-Sans;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Noto-Sans-Regular.woff2") format("woff2"), url("./fonts/Noto-Sans-Regular.woff") format("woff");
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--paragraph);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  font-weight: normal;
  font-size: 12px;
  user-select: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.title {
  color: var(--header);
  text-transform: uppercase;
  font-family: "Bebas-Neue", sans-serif;
}
.subtitle {
  color: var(--paragraph);
  font-family: "Noto-Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
}
