:root {
  --header: #f97b03;
  --paragraph: #f0e3cc;
  --dark-text: #211e1d;
  --bg-main: #00000050;
  --accent: #ffc600;
}
@font-face {
  font-family: Bebas-Neue;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Bebas-Neue-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Noto-Sans;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Noto-Sans-Regular.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--paragraph);
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  @media (prefers-color-scheme: dark) {
    background-image: url("/img/bg-dark.jpg");
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img, svg {
  max-width: 100%;
}
img {
  font-size: 12px;
  font-weight: normal;
  user-select: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.title {
  font-family: Bebas-Neue, sans-serif;
  color: var(--header);
  text-transform: uppercase;
}
.subtitle {
  font-family: Noto-Sans, sans-serif;
  font-weight: bold;
  color: var(--paragraph);
  letter-spacing: 0.05em;
}
